<configuration>
  <packageSources>
    <add key="platform.uno dev" value="https://uno-platform.pkgs.visualstudio.com/Uno%20Platform/_packaging/unoplatformdev/nuget/v3/index.json" />
    <add key="Local MSBuild Nuget" value=".\XamlTemplates.MSBuild" />
    <add key="Local Nuget" value=".\" />
  </packageSources>
</configuration>
