@page "/"
@inject IJSRuntime JsRuntime

<div class="container">
    <div class="row">
        <div class="col">
            <textarea @bind="@codestr"></textarea>
        </div>
        <div class="col">
            <h3>Xaml Code</h3>
            <pre><code class="xml">@Xaml</code> </pre>
        </div>
        <div class="col">
            <h3>CSharp Code</h3>
            <pre>@CSharp</pre>
        </div>
    </div>
</div>
@code {



    private string _codestr = Evans.XamlTemplates.Examples.Basic;
    private string codestr { get => _codestr; set { _codestr = value; CodeChanged(); } }
    private string Xaml = "";
    private string CSharp = "";
    private string ErrorMessage = "";

    Evans.XamlTemplates.Templator gen = new Evans.XamlTemplates.Templator();


    private void CodeChanged()
    {
        try
        {
            var result = gen.Generate(codestr, "Templates");

            Xaml = result[0].Xaml.Content;
            CSharp = result[0].CSharp.Content;
        }
        catch (Exception e)
        {
            ErrorMessage = e.Message;
        }

    }
    protected override void OnInitialized()
    {
        CodeChanged();
    }

}
